<ion-header>
  <ion-toolbar color="rosybrown">
    <ion-buttons slot="start">
      <ion-button (click)="signOut()" > 
        <ion-icon name="arrow-undo-sharp" class="back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Pacient Dashboard</ion-title>
  
    <!-- //vreau sa afisez welcome + nume utilizator
    <ion-icon name="person"></ion-icon>
    <h1>Welcome, -Username here-</h1> -->
  
  </ion-toolbar>
</ion-header>


<ion-content class="bg"> 

  <ion-grid>
    <ion-row>

      <ion-col size="6" >
        <ion-card text-center padding >
          <ion-card-title>Profil</ion-card-title>
          <ion-card-content>
            <ion-icon name="person" class="icon1"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card text-center padding >
          <ion-card-title>Programare</ion-card-title>
          <ion-card-content>
            <ion-icon name="calendar" class="icon2"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card text-center padding >
          <ion-card-title>Instrumente</ion-card-title>
          <ion-card-content>
            <ion-icon name="pulse" class="icon3"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card text-center padding >
          <ion-card-title>Medicamente</ion-card-title>
          <ion-card-content>
            <ion-icon name="medkit" class="icon4"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- <ion-col size="6">
        <ion-card text-center padding >
          <ion-card-title>Medicamente</ion-card-title>
          <ion-card-content>
            <ion-icon name="fitness-sharp" slot="start" class="icon4"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <ion-col >
      <ion-button expand="full" (click)="chatBot()">  
        <ion-icon name="fitness-sharp" slot="start"></ion-icon>Health Bot</ion-button> 
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>
