<ion-content class="bg">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        
        <ion-card>
          <ion-card-header>
            <ion-card-title id="tit">Logare medic</ion-card-title>
            <br>
          </ion-card-header>

          <ion-card-content>
            <ion-item color="rosybrown">
              <ion-input color="danger" type="text" text-center style="border:none" placeholder="Username" clearInput ></ion-input>
            </ion-item>

            <ion-item color="rosybrown">
              <ion-input color="danger" type="text" text-center style="border:none" placeholder="Parola" clearInput></ion-input>
            </ion-item>

            <ion-button class="but" expand="full" >
              <ion-icon slot="end"  name="chevron-forward-outline"></ion-icon>
                Login</ion-button>

          </ion-card-content>
        </ion-card>

        <ion-button class="med" expand="full" fill="clear" (click)="log()">Sunteti pacient?</ion-button> 

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
